pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; }
.highlight .c { color: #888888; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { font-weight: bold; text-decoration: underline } /* Keyword */
.highlight .ch { color: #888888; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #888888; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #888888; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #888888; font-style: italic } /* Comment.Single */
.highlight .cs { color: #888888; font-weight: bold } /* Comment.Special */
.highlight .kc { font-weight: bold; text-decoration: underline } /* Keyword.Constant */
.highlight .kd { font-weight: bold; font-style: italic; text-decoration: underline } /* Keyword.Declaration */
.highlight .kn { font-weight: bold; text-decoration: underline } /* Keyword.Namespace */
.highlight .kp { font-weight: bold; text-decoration: underline } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold; text-decoration: underline } /* Keyword.Reserved */
.highlight .kt { font-weight: bold; text-decoration: underline } /* Keyword.Type */
.highlight .s { color: #666666; font-style: italic } /* Literal.String */
.highlight .nb { font-weight: bold; font-style: italic } /* Name.Builtin */
.highlight .nc { color: #666666; font-weight: bold; font-style: italic } /* Name.Class */
.highlight .no { color: #666666; font-weight: bold; font-style: italic } /* Name.Constant */
.highlight .nf { color: #666666; font-weight: bold; font-style: italic } /* Name.Function */
.highlight .nn { color: #666666; font-weight: bold; font-style: italic } /* Name.Namespace */
.highlight .nv { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .sa { color: #666666; font-style: italic } /* Literal.String.Affix */
.highlight .sb { color: #666666; font-style: italic } /* Literal.String.Backtick */
.highlight .sc { color: #666666; font-style: italic } /* Literal.String.Char */
.highlight .dl { color: #666666; font-style: italic } /* Literal.String.Delimiter */
.highlight .sd { color: #666666; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #666666; font-style: italic } /* Literal.String.Double */
.highlight .se { color: #666666; font-style: italic } /* Literal.String.Escape */
.highlight .sh { color: #666666; font-style: italic } /* Literal.String.Heredoc */
.highlight .si { color: #666666; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #666666; font-style: italic } /* Literal.String.Other */
.highlight .sr { color: #666666; font-style: italic } /* Literal.String.Regex */
.highlight .s1 { color: #666666; font-style: italic } /* Literal.String.Single */
.highlight .ss { color: #666666; font-style: italic } /* Literal.String.Symbol */
.highlight .bp { font-weight: bold; font-style: italic } /* Name.Builtin.Pseudo */
.highlight .fm { color: #666666; font-weight: bold; font-style: italic } /* Name.Function.Magic */
.highlight .vc { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Class */
.highlight .vg { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Global */
.highlight .vi { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Instance */
.highlight .vm { color: #666666; font-weight: bold; font-style: italic } /* Name.Variable.Magic */
