pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; }
.highlight .c { color: #95a5a6 } /* Comment */
.highlight .err { color: #a61717 } /* Error */
.highlight .k { color: #728E00 } /* Keyword */
.highlight .n { color: #434f54 } /* Name */
.highlight .o { color: #728E00 } /* Operator */
.highlight .ch { color: #95a5a6 } /* Comment.Hashbang */
.highlight .cm { color: #95a5a6 } /* Comment.Multiline */
.highlight .cp { color: #728E00 } /* Comment.Preproc */
.highlight .cpf { color: #95a5a6 } /* Comment.PreprocFile */
.highlight .c1 { color: #95a5a6 } /* Comment.Single */
.highlight .cs { color: #95a5a6 } /* Comment.Special */
.highlight .kc { color: #00979D } /* Keyword.Constant */
.highlight .kd { color: #728E00 } /* Keyword.Declaration */
.highlight .kn { color: #728E00 } /* Keyword.Namespace */
.highlight .kp { color: #00979D } /* Keyword.Pseudo */
.highlight .kr { color: #00979D } /* Keyword.Reserved */
.highlight .kt { color: #00979D } /* Keyword.Type */
.highlight .m { color: #8A7B52 } /* Literal.Number */
.highlight .s { color: #7F8C8D } /* Literal.String */
.highlight .na { color: #434f54 } /* Name.Attribute */
.highlight .nb { color: #728E00 } /* Name.Builtin */
.highlight .nc { color: #434f54 } /* Name.Class */
.highlight .no { color: #434f54 } /* Name.Constant */
.highlight .nd { color: #434f54 } /* Name.Decorator */
.highlight .ni { color: #434f54 } /* Name.Entity */
.highlight .ne { color: #434f54 } /* Name.Exception */
.highlight .nf { color: #D35400 } /* Name.Function */
.highlight .nl { color: #434f54 } /* Name.Label */
.highlight .nn { color: #434f54 } /* Name.Namespace */
.highlight .nx { color: #728E00 } /* Name.Other */
.highlight .py { color: #434f54 } /* Name.Property */
.highlight .nt { color: #434f54 } /* Name.Tag */
.highlight .nv { color: #434f54 } /* Name.Variable */
.highlight .ow { color: #728E00 } /* Operator.Word */
.highlight .mb { color: #8A7B52 } /* Literal.Number.Bin */
.highlight .mf { color: #8A7B52 } /* Literal.Number.Float */
.highlight .mh { color: #8A7B52 } /* Literal.Number.Hex */
.highlight .mi { color: #8A7B52 } /* Literal.Number.Integer */
.highlight .mo { color: #8A7B52 } /* Literal.Number.Oct */
.highlight .sa { color: #7F8C8D } /* Literal.String.Affix */
.highlight .sb { color: #7F8C8D } /* Literal.String.Backtick */
.highlight .sc { color: #7F8C8D } /* Literal.String.Char */
.highlight .dl { color: #7F8C8D } /* Literal.String.Delimiter */
.highlight .sd { color: #7F8C8D } /* Literal.String.Doc */
.highlight .s2 { color: #7F8C8D } /* Literal.String.Double */
.highlight .se { color: #7F8C8D } /* Literal.String.Escape */
.highlight .sh { color: #7F8C8D } /* Literal.String.Heredoc */
.highlight .si { color: #7F8C8D } /* Literal.String.Interpol */
.highlight .sx { color: #7F8C8D } /* Literal.String.Other */
.highlight .sr { color: #7F8C8D } /* Literal.String.Regex */
.highlight .s1 { color: #7F8C8D } /* Literal.String.Single */
.highlight .ss { color: #7F8C8D } /* Literal.String.Symbol */
.highlight .bp { color: #728E00 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #D35400 } /* Name.Function.Magic */
.highlight .vc { color: #434f54 } /* Name.Variable.Class */
.highlight .vg { color: #434f54 } /* Name.Variable.Global */
.highlight .vi { color: #434f54 } /* Name.Variable.Instance */
.highlight .vm { color: #434f54 } /* Name.Variable.Magic */
.highlight .il { color: #8A7B52 } /* Literal.Number.Integer.Long */
