pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #3c3836 }
.highlight { background: #fbf1c7; }
.highlight .c { color: #928374; font-style: italic } /* Comment */
.highlight .err { color: #fbf1c7; background-color: #9d0006 } /* Error */
.highlight .k { color: #9d0006 } /* Keyword */
.highlight .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #928374; font-style: italic } /* Comment.Multiline */
.highlight .c-PreProc { color: #427b58; font-style: italic } /* Comment.PreProc */
.highlight .cp { color: #928374; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #928374; font-style: italic } /* Comment.Single */
.highlight .cs { color: #3c3836; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #fbf1c7; background-color: #9d0006 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #9d0006 } /* Generic.Error */
.highlight .gh { color: #3c3836; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #fbf1c7; background-color: #79740e } /* Generic.Inserted */
.highlight .go { color: #32302f } /* Generic.Output */
.highlight .gp { color: #7c6f64 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #3c3836; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #9d0006 } /* Generic.Traceback */
.highlight .kc { color: #9d0006 } /* Keyword.Constant */
.highlight .kd { color: #9d0006 } /* Keyword.Declaration */
.highlight .kn { color: #9d0006 } /* Keyword.Namespace */
.highlight .kp { color: #9d0006 } /* Keyword.Pseudo */
.highlight .kr { color: #9d0006 } /* Keyword.Reserved */
.highlight .kt { color: #9d0006 } /* Keyword.Type */
.highlight .m { color: #8f3f71 } /* Literal.Number */
.highlight .s { color: #79740e } /* Literal.String */
.highlight .na { color: #b57614 } /* Name.Attribute */
.highlight .nb { color: #af3a03 } /* Name.Builtin */
.highlight .nc { color: #427b58 } /* Name.Class */
.highlight .no { color: #8f3f71 } /* Name.Constant */
.highlight .nd { color: #9d0006 } /* Name.Decorator */
.highlight .ne { color: #9d0006 } /* Name.Exception */
.highlight .nf { color: #427b58 } /* Name.Function */
.highlight .nn { color: #427b58 } /* Name.Namespace */
.highlight .nt { color: #427b58 } /* Name.Tag */
.highlight .nv { color: #076678 } /* Name.Variable */
.highlight .ow { color: #9d0006 } /* Operator.Word */
.highlight .mb { color: #8f3f71 } /* Literal.Number.Bin */
.highlight .mf { color: #8f3f71 } /* Literal.Number.Float */
.highlight .mh { color: #8f3f71 } /* Literal.Number.Hex */
.highlight .mi { color: #8f3f71 } /* Literal.Number.Integer */
.highlight .mo { color: #8f3f71 } /* Literal.Number.Oct */
.highlight .sa { color: #79740e } /* Literal.String.Affix */
.highlight .sb { color: #79740e } /* Literal.String.Backtick */
.highlight .sc { color: #79740e } /* Literal.String.Char */
.highlight .dl { color: #79740e } /* Literal.String.Delimiter */
.highlight .sd { color: #79740e } /* Literal.String.Doc */
.highlight .s2 { color: #79740e } /* Literal.String.Double */
.highlight .se { color: #af3a03 } /* Literal.String.Escape */
.highlight .sh { color: #79740e } /* Literal.String.Heredoc */
.highlight .si { color: #79740e } /* Literal.String.Interpol */
.highlight .sx { color: #79740e } /* Literal.String.Other */
.highlight .sr { color: #79740e } /* Literal.String.Regex */
.highlight .s1 { color: #79740e } /* Literal.String.Single */
.highlight .ss { color: #79740e } /* Literal.String.Symbol */
.highlight .bp { color: #af3a03 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #427b58 } /* Name.Function.Magic */
.highlight .vc { color: #076678 } /* Name.Variable.Class */
.highlight .vg { color: #076678 } /* Name.Variable.Global */
.highlight .vi { color: #076678 } /* Name.Variable.Instance */
.highlight .vm { color: #076678 } /* Name.Variable.Magic */
.highlight .il { color: #8f3f71 } /* Literal.Number.Integer.Long */
