pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #1e1e27; color: #cfbfad }
.highlight .c { color: #cd8b00 } /* Comment */
.highlight .err { color: #ffffff; background-color: #6e2e2e } /* Error */
.highlight .k { color: #808bed } /* Keyword */
.highlight .n { color: #cfbfad } /* Name */
.highlight .o { color: #666666 } /* Operator */
.highlight .x { color: #cfbfad } /* Other */
.highlight .p { color: #cfbfad } /* Punctuation */
.highlight .ch { color: #cd8b00 } /* Comment.Hashbang */
.highlight .cm { color: #cd8b00 } /* Comment.Multiline */
.highlight .cp { color: #409090 } /* Comment.Preproc */
.highlight .cpf { color: #ffcd8b; background-color: #404040 } /* Comment.PreprocFile */
.highlight .c1 { color: #cd8b00 } /* Comment.Single */
.highlight .cs { color: #808bed } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #808bed } /* Keyword.Constant */
.highlight .kd { color: #808bed } /* Keyword.Declaration */
.highlight .kn { color: #808bed } /* Keyword.Namespace */
.highlight .kp { color: #808bed } /* Keyword.Pseudo */
.highlight .kr { color: #808bed } /* Keyword.Reserved */
.highlight .kt { color: #ff8bff } /* Keyword.Type */
.highlight .m { color: #f0ad6d } /* Literal.Number */
.highlight .s { color: #ffcd8b; background-color: #404040 } /* Literal.String */
.highlight .na { color: #cfbfad } /* Name.Attribute */
.highlight .nb { color: #808bed } /* Name.Builtin */
.highlight .nc { color: #ff8bff } /* Name.Class */
.highlight .no { color: #409090 } /* Name.Constant */
.highlight .nd { color: #409090 } /* Name.Decorator */
.highlight .ni { color: #cfbfad } /* Name.Entity */
.highlight .ne { color: #ff0000 } /* Name.Exception */
.highlight .nf { color: #c080d0 } /* Name.Function */
.highlight .nl { color: #808bed } /* Name.Label */
.highlight .nn { color: #ff0000 } /* Name.Namespace */
.highlight .nx { color: #cfbfad } /* Name.Other */
.highlight .py { color: #cfbfad } /* Name.Property */
.highlight .nt { color: #cfbfad } /* Name.Tag */
.highlight .nv { color: #cfbfad } /* Name.Variable */
.highlight .ow { color: #666666 } /* Operator.Word */
.highlight .pm { color: #cfbfad } /* Punctuation.Marker */
.highlight .w { color: #434357 } /* Text.Whitespace */
.highlight .mb { color: #f0ad6d } /* Literal.Number.Bin */
.highlight .mf { color: #f0ad6d } /* Literal.Number.Float */
.highlight .mh { color: #f0ad6d } /* Literal.Number.Hex */
.highlight .mi { color: #f0ad6d } /* Literal.Number.Integer */
.highlight .mo { color: #f0ad6d } /* Literal.Number.Oct */
.highlight .sa { color: #ffcd8b; background-color: #404040 } /* Literal.String.Affix */
.highlight .sb { color: #ffcd8b; background-color: #404040 } /* Literal.String.Backtick */
.highlight .sc { color: #ffcd8b; background-color: #404040 } /* Literal.String.Char */
.highlight .dl { color: #ffcd8b; background-color: #404040 } /* Literal.String.Delimiter */
.highlight .sd { color: #808bed; background-color: #404040 } /* Literal.String.Doc */
.highlight .s2 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Double */
.highlight .se { color: #ffcd8b; background-color: #404040 } /* Literal.String.Escape */
.highlight .sh { color: #ffcd8b; background-color: #404040 } /* Literal.String.Heredoc */
.highlight .si { color: #ffcd8b; background-color: #404040 } /* Literal.String.Interpol */
.highlight .sx { color: #ffcd8b; background-color: #404040 } /* Literal.String.Other */
.highlight .sr { color: #ffcd8b; background-color: #404040 } /* Literal.String.Regex */
.highlight .s1 { color: #ffcd8b; background-color: #404040 } /* Literal.String.Single */
.highlight .ss { color: #ffcd8b; background-color: #404040 } /* Literal.String.Symbol */
.highlight .bp { color: #ffff00 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #c080d0 } /* Name.Function.Magic */
.highlight .vc { color: #cfbfad } /* Name.Variable.Class */
.highlight .vg { color: #cfbfad } /* Name.Variable.Global */
.highlight .vi { color: #cfbfad } /* Name.Variable.Instance */
.highlight .vm { color: #cfbfad } /* Name.Variable.Magic */
.highlight .il { color: #f0ad6d } /* Literal.Number.Integer.Long */
