pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #49483e }
.highlight { background: #232629; color: #cccccc }
.highlight .c { color: #777777; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #7686bb; font-weight: bold } /* Keyword */
.highlight .ch { color: #777777; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #777777; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #777777; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #777777; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #777777; font-style: italic } /* Comment.Single */
.highlight .cs { color: #777777; font-style: italic } /* Comment.Special */
.highlight .gp { color: #ffffff } /* Generic.Prompt */
.highlight .kc { color: #7686bb; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #7686bb; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #7686bb; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #7686bb; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #7686bb; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #7686bb; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #4FB8CC } /* Literal.Number */
.highlight .s { color: #51cc99 } /* Literal.String */
.highlight .nf { color: #6a6aff } /* Name.Function */
.highlight .nx { color: #e2828e } /* Name.Other */
.highlight .nv { color: #7AB4DB; font-weight: bold } /* Name.Variable */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #4FB8CC } /* Literal.Number.Bin */
.highlight .mf { color: #4FB8CC } /* Literal.Number.Float */
.highlight .mh { color: #4FB8CC } /* Literal.Number.Hex */
.highlight .mi { color: #4FB8CC } /* Literal.Number.Integer */
.highlight .mo { color: #4FB8CC } /* Literal.Number.Oct */
.highlight .sa { color: #51cc99 } /* Literal.String.Affix */
.highlight .sb { color: #51cc99 } /* Literal.String.Backtick */
.highlight .sc { color: #51cc99 } /* Literal.String.Char */
.highlight .dl { color: #51cc99 } /* Literal.String.Delimiter */
.highlight .sd { color: #51cc99 } /* Literal.String.Doc */
.highlight .s2 { color: #51cc99 } /* Literal.String.Double */
.highlight .se { color: #51cc99 } /* Literal.String.Escape */
.highlight .sh { color: #51cc99 } /* Literal.String.Heredoc */
.highlight .si { color: #51cc99 } /* Literal.String.Interpol */
.highlight .sx { color: #51cc99 } /* Literal.String.Other */
.highlight .sr { color: #51cc99 } /* Literal.String.Regex */
.highlight .s1 { color: #51cc99 } /* Literal.String.Single */
.highlight .ss { color: #51cc99 } /* Literal.String.Symbol */
.highlight .fm { color: #6a6aff } /* Name.Function.Magic */
.highlight .vc { color: #7AB4DB; font-weight: bold } /* Name.Variable.Class */
.highlight .vg { color: #BE646C; font-weight: bold } /* Name.Variable.Global */
.highlight .vi { color: #7AB4DB; font-weight: bold } /* Name.Variable.Instance */
.highlight .vm { color: #7AB4DB; font-weight: bold } /* Name.Variable.Magic */
.highlight .il { color: #4FB8CC } /* Literal.Number.Integer.Long */
